*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideUpBtn {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #777;
  width: 100%;
  line-height: 1.7; }

.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation: slideLeft .75s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-secondary {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .25rem;
    animation: slideRight .75s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary-secondary {
        font-size: 2rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, #2193b0, #6dd5ed);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top {
  margin-top: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 6rem;
  border-radius: 100px;
  display: inline-block;
  margin-top: 2rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1); }

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 1.4rem;
  letter-spacing: .15rem;
  font-weight: 400; }
  .btn-white::after {
    background-color: #fff; }

.btn-blue {
  background-image: linear-gradient(to left top, #2193b0, #6dd5ed);
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: .15rem;
  font-weight: 400; }
  .btn-blue::after {
    background-image: linear-gradient(to left, #2193b0, #6dd5ed); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: slideUpBtn .75s ease-out .5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2193b0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #2193b0;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #2193b0;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition-photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition-photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4); } }
    .composition-photo-p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition-photo-p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition-photo-p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition-photo-p2 {
          top: 0;
          transform: scale(1.3);
          top: -1rem;
          z-index: 100; } }
    .composition-photo-p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition-photo-p3 {
          top: 0;
          left: 0;
          top: 1rem;
          transform: scale(1.1); } }
    .composition-photo:hover {
      outline: 1.5rem solid #2193b0;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 11; }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .25s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1.5rem; } }
  .feature-box--icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to left, #2193b0, #6dd5ed);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box--icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card-side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card-side-front {
      background-color: #fff; }
    .card-side-back {
      background-color: dodgerblue;
      transform: rotateY(-180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #00b4db, #4a00e0); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #11998e, #38ef7d); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #f7b733, #fc4a1a); }
  .card:hover .card-side-front {
    transform: rotateY(180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0); }
  .card-image {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-image-1 {
      background-image: linear-gradient(to right bottom, #00b4db, #4a00e0), url("https://images.pexels.com/photos/2042108/pexels-photo-2042108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }
    .card-image-2 {
      background-image: linear-gradient(to right bottom, #11998e, #38ef7d), url("https://images.unsplash.com/photo-1541432901042-2d8bd64b4a9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1319&q=80"); }
    .card-image-3 {
      background-image: linear-gradient(to right bottom, #f7b733, #fc4a1a), url("https://images.unsplash.com/photo-1531168010535-64a9823f7eb4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card-heading-span {
    padding: .75rem .75rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(0, 180, 219, 0.85), rgba(74, 0, 224, 0.85)); }
    .card-heading-span-2 {
      background: linear-gradient(to right bottom, rgba(17, 153, 142, 0.85), rgba(56, 239, 125, 0.85)); }
    .card-heading-span-3 {
      background: linear-gradient(to right bottom, rgba(247, 183, 51, 0.85), rgba(252, 74, 26, 0.85)); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #777; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card-price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 100; }

@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card-side {
      height: auto;
      position: relative;
      box-shadow: none; }
      .card-side-back {
        transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
        .card-side-back-1 {
          background-image: linear-gradient(to right bottom, #00b4db, #4a00e0); }
        .card-side-back-2 {
          background-image: linear-gradient(to right bottom, #11998e, #38ef7d); }
        .card-side-back-3 {
          background-image: linear-gradient(to right bottom, #f7b733, #fc4a1a); }
    .card:hover .card-side-front {
      transform: rotateY(0deg); }
    .card-cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem; }
    .card-price-box {
      margin-bottom: 8rem; }
    .card-price-value {
      font-size: 6rem; } }

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: .3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .review {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .review {
      transform: skewX(0); } }
  .review > * {
    transform: skewX(12deg); }
  .review-shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    shape-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      .review-shape {
        transform: translateX(-3rem) skewX(0); } }
  .review-image {
    width: 100%;
    transform: scale(1.05);
    transition: all .5s; }
  .review-text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .review-text {
        transform: skewX(0); } }
  .review-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .review:hover .review-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review-image {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: .65; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form-input {
      width: 100%; } }
  .form-inputemail {
    background-color: rgba(255, 255, 255, 0.5);
    color: inherit; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2193b0; }
  .form-input:focus:invalid {
    border-bottom: 3px solid #fc4a1a; }
  .form-input::-webkit-input-placeholder {
    color: #999; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-input {
  display: none; }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-group.col {
  height: 3rem; }

.form-radio-group {
  width: 100%;
  display: inline-block; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem; }

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #2193b0;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form-radio-button::after {
    content: '';
    display: block;
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2193b0;
    opacity: 0;
    transition: all 0.2s; }

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1; }

.header {
  position: relative;
  background-image: linear-gradient(to bottom right, rgba(33, 147, 176, 0.604), rgba(109, 213, 237, 0.604)), url("https://images.unsplash.com/photo-1524231757912-21f4fe3a7200?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%); } }
  @media (max-width: 37.5em) {
    .header .heading {
      width: 75%; } }
  .header .logo-box {
    position: absolute;
    top: 3%;
    left: 3%; }
    .header .logo-box .logo {
      font-weight: 400;
      font-size: 3rem;
      color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #fff;
  text-align: center;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 502;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation-button {
      top: 4rem;
      right: 4rem; } }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#6dd5ed, #2193b0);
  z-index: 100;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation-background {
      top: 4.5rem;
      right: 4.5rem; } }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 501;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  display: none; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  @media (max-width: 37.5em) {
    .navigation-link:link, .navigation-link:visited {
      background-size: 230%;
      font-size: 2rem; } }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #2193b0;
  transform: translateX(1rem);
  display: inline-block; }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-checkbox:checked ~ .navigation-nav .navigation-list {
  display: inline-block; }

.navigation-icon {
  position: relative;
  margin-top: 3.25rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .5s; }
  .navigation-icon::before {
    top: -.8rem; }
  .navigation-icon::after {
    top: .8rem; }

.navigation-button:hover .navigation-icon::before {
  transform: translateY(-0.5rem); }

.navigation-button:hover .navigation-icon::after {
  transform: translateY(0.5rem); }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  background-color: #777;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer-logo-box {
    width: 15rem;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer-logo-box {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem; } }
  .footer-logo {
    color: #2193b0; }
  .footer-navigation {
    border-top: 1px solid #f7f7f7;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer-navigation {
        width: 100%;
        text-align: center; } }
  .footer-list {
    list-style: none;
    padding-top: 2rem;
    text-align: center; }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer-link:link, .footer-link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer-link:hover, .footer-link:active {
    color: #2193b0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #f7f7f7;
    transform: rotate(5deg) scale(1.2); }
  .footer-copywright {
    color: #f7f7f7;
    padding-top: 2rem;
    border-top: 1px solid #f7f7f7;
    float: right; }
    @media (max-width: 56.25em) {
      .footer-copywright {
        width: 100%;
        text-align: center;
        float: none; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 22rem 0; } }

.section-features {
  padding: 23rem 0;
  background-image: linear-gradient(to bottom right, rgba(33, 147, 176, 0.604), rgba(109, 213, 237, 0.604)), url("https://images.unsplash.com/photo-1564665759044-959473395029?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -10.4rem;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); }
  @media (max-width: 56.25em) {
    .section-features {
      clip-path: polygon(0 7.5%, 100% 0, 100% 93%, 0 100%);
      padding: 12rem 0; } }
  @media (max-width: 37.5em) {
    .section-features {
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%); } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 25rem 0;
  margin-top: -10.5rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 15rem 0; } }

.section-reviews {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-reviews {
      padding: 15rem 0; } }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #2193b0, #6dd5ed); }
  @media (max-width: 56.25em) {
    .section-booking {
      padding: 15rem 0; } }

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("https://images.unsplash.com/photo-1525415994794-b6c227be96fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  @media (max-width: 75em) {
    .booking {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 65%, transparent 65%), url("https://images.unsplash.com/photo-1525415994794-b6c227be96fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); } }
  @media (max-width: 56.25em) {
    .booking {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("https://images.unsplash.com/photo-1525415994794-b6c227be96fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); } }
  .booking-form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .booking-form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .booking-form {
        width: 100%; } }
