//colors
$color-primary: #2193b0;
$color-secondary: #6dd5ed;

$color-white: #fff;
$color-grey: #777;
$color-grey-1: #f7f7f7;
$color-black: #000;

$amin-light: #8e2de2;
$amin-dark: #4a00e0;

$quepal-light: #11998e;
$quepal-dark: #38ef7d;

$orange-fun-light: #f7b733;
$orange-fun-dark: #fc4a1a;

$blue-ras-light: #00b4db;
$blue-ras-dark: #0083b0;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-responsive: 6rem;
$gutter-horizontal: 6rem;

//font size
$default-font-size: 1.6rem;

